/* 
-------------------
<<<<< GENERAL >>>>> 
-------------------
*/

/* <<< VARIABLES >>> */

@font-face {
  font-family: 'Sacramento';
  src: url('fonts/Sacramento-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

input,
button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.d-none {
  display: none !important;
}

body {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  background: linear-gradient(312deg, #1f836f, #0b3431);
}

/* 
-------------------
<<<<< HEADER >>>>> 
-------------------
*/

header {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 8rem;
  height: 5rem;
  box-shadow: 0px 4px 8px 0px rgba(30, 39, 35, 0.175);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: linear-gradient(312deg, #117460, #0e403d);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 2.75rem;
  font-weight: 550;
  color: #dbe4d9;
  text-shadow: 2px 2px 2px rgba(18, 44, 38, 0.2);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 0.375rem;
}

.nav-links img {
  cursor: pointer;
}

.nav-links img:last-of-type {
  display: none;
  width: 40px;
  aspect-ratio: 1, 1;
  border-radius: 50%;
  outline: #dbe4d9 solid 0.1px;
  outline-offset: 0px;
  transition: all 0.1s ease-in-out;
}

.nav-links img:last-of-type:hover {
  outline-offset: 2px;
  outline: #dbe4d9 solid 2.5px;
}

.nav-links img:not(:last-of-type):hover {
  filter: invert(98%) sepia(69%) saturate(95%) hue-rotate(43deg) brightness(93%)
    contrast(92%);
}

/* 
-----------------------
<<<<< BURGER-MENU >>>>> 
-----------------------
*/

.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger {
  width: 32px;
  height: 2px;
  background: #dbe4d9;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 2px;
  background: #dbe4d9;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.side-menu {
  position: absolute;
  top: 5rem;
  right: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  height: 0;
  background: linear-gradient(312deg, #117460, #0e403d);
  box-shadow: 2px 2px 8px rgba(18, 44, 38, 0.35);
  border-radius: 0 0 0rem 80%;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.border-dummy {
  position: inherit;
  background-color: transparent;
  border-radius: 0 0 0rem 80%;
  outline: rgba(17, 116, 96, 0.3) 36px solid;
  outline-offset: 4px;
  border-left: rgba(17, 116, 96, 0.15) 4px solid;
  border-bottom: rgba(17, 116, 96, 0.15) 4px solid;
  z-index: 1;
  right: 0rem;
  left: 4.125rem;
  width: calc(100% - 4.125rem);
  height: 0;
  transition: height 0.3s ease-in-out;
}

.open-border-dummy {
  height: calc(18.5rem - 4.125rem);
}

.open-sidemenu {
  height: 18.5rem;
}

.menu-links {
  position: inherit;
  display: flex;
  flex-direction: column;

  padding: 1.125rem 0rem 1.25rem 1.35rem;
  align-items: flex-start;
  color: #dbe4d9;
  font-size: 1.125rem;
  font-weight: 600;
  z-index: 9999999999999;
}

.menu-links img {
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding-bottom: 0.575rem;
}

.link:nth-child(2) {
  padding-left: 0.35rem;
}

.link:nth-child(3) {
  padding-left: 1.25rem;
}

.link:nth-child(4) {
  padding-left: 3.25rem;
}

.link:nth-child(5) {
  padding-left: 6.75rem;
  padding-bottom: 0rem;
}

.link:nth-child(6) {
  padding-left: 13rem;
}

.menu-links img {
  width: 32px;
  aspect-ratio: 1, 1;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}

.menu-links .profile-img img {
  outline: #dbe4d9 solid 0.55px;
  outline-offset: 1px;
}

.menu-links .icon img {
  filter: invert(93%) sepia(10%) saturate(161%) hue-rotate(63deg)
    brightness(101%) contrast(83%);
}

/* 
------------------------
<<<<< MAIN-SECTION >>>>> 
------------------------
*/

main {
  margin-top: 5rem;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 5rem);
  padding: 2rem 8rem 1rem;
  display: flex;
  align-items: start;
  gap: 2rem;
  min-height: 100vh;
}

.pinboard {
  width: 67%;
}

.card {
  border-radius: 0.5rem;
  background-color: #dbe4d9;
  box-shadow: 2px 2px 8px rgba(18, 44, 38, 0.35);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.card-header--author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.card-header-author--img {
  width: 2.5rem;
  height: 2.5rem;
  outline: #485951 solid 2px;
  outline-offset: 2px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(18, 44, 38, 0.35);
}

.author-and-location {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.card-header__svg {
  cursor: pointer;
}

.card-poster img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.social-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem 1rem 0.5rem;
}

.icons-inline {
  width: calc(100% - 36px - 1rem);
  display: flex;
  gap: 1rem;
}

.social-actions svg {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.comment-section {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  padding: 0 1rem;
}

.like-counter {
  font-weight: 600;
}

.author,
.user {
  font-weight: 600;
}

.like-btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  width: 36px;
}

.like-btn svg {
  width: 20px;
}

.author-commentary {
  display: flex;
}
.user-commentary {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.375rem;
  padding-bottom: 1rem;
}

.user-comment-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-comment {
  display: flex;
  width: calc(100% - 36px - 1rem);
}

.author-commentary--author,
.user-commentary--user {
  font-weight: 600;
}

.all-comments {
  padding-bottom: 0.5rem;
  cursor: pointer;
  width: auto;
}

.greyed {
  color: #6a6a6a;
  font-size: 0.85rem;
  font-weight: 600;
}

.post-container {
  display: flex;
  padding: 1rem 1rem 0 1rem;
  width: 100%;
  border-top: #7b978a solid 0.125px;
}

.input-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.comment-input {
  display: flex;
  justify-content: flex-start;
  width: calc(100% - 36px - 1rem);
}

.comment-input {
  height: 1.75rem;
  font-weight: 200;
  font-size: 1rem;
  color: #485951;
  padding: 0 1.6rem;
  border: none;
  background-color: #e9f1f0;
  border-radius: 4px;
  border: #b8cac7 solid 0.1px;
}

.input-bar ::placeholder {
  text-align: left;
  font-size: 1rem;
  font-weight: 100;
  color: #95a19f;
}

.post-btn {
  display: flex;
  align-items: center;
  height: 1.75rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: right;
  color: #117460;
  border: none;
  background-color: transparent;
  transition: all 0.15s ease-in-out;
}

.post-btn:hover {
  /* color: #0cdbc0; */
  text-shadow: rgba(7, 101, 89, 0.25) 0px 0px 8px;
  padding-right: 0.25rem;
}

/* 
-------------------
<<<<< ASIDE >>>>> 
-------------------
*/

aside {
  display: flex;
  flex-direction: column;
  width: 33%;
  position: sticky;
  top: 7rem;
}

.right-column {
  overflow: auto;
}

.wrapper {
  padding: 0.25rem 1rem 0 1rem;
  margin-bottom: 1.125rem;
}

.myprofile {
  display: flex;
  align-items: center;
}

.my-info-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.myprofile__img {
  width: 3.5rem;
  height: 3.5rem;
  outline: #dbe4d9 solid 2px;
  outline-offset: 2px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(18, 44, 38, 0.35);
  margin-right: 1rem;
}

.myusername {
  font-size: 1.125rem;
  font-weight: 600;
  color: #dbe4d9;
}

.myrealname {
  font-size: 1.125rem;
  font-weight: 400;
  color: #969c95;
}

.story-section,
.suggestion-section {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 0.5rem;
  background-color: #dbe4d9;
  box-shadow: 2px 2px 8px rgba(18, 44, 38, 0.35);
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.stories-container,
.suggested-container {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  padding: 0.25rem;

  overflow: auto;
}

.scroll {
  overflow: auto;
}

.no-scroll {
  overflow: hidden;
}

@keyframes fold {
  to {
    height: 2.75rem;
  }
}

@keyframes unfold {
  to {
    max-height: 21.125rem;
  }
}

@keyframes defaultHeight {
  to {
    max-height: 11.5rem;
  }
}

.fold {
  animation: 0.3s fold ease;
}

.unfold {
  animation: 0.3s unfold ease;
}

.default {
  animation: 0.3s defaultHeight ease;
}

.folded {
  height: 2.75rem !important;
}

.unfolded {
  max-height: 21.125rem;
}

.default-height {
  max-height: 10.5rem;
}

.suggestions-header,
.stories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
  color: #5a5a5a;
}

.stories-header span,
.suggestions-header span {
  color: #000;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.stories-header span:hover,
.suggestions-header span:hover {
  padding-right: 0.25rem;
}

.suggested {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggested-profile__img {
  width: 2.5rem;
  height: 2.5rem;
  outline: #485951 solid 2px;
  outline-offset: 2px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(18, 44, 38, 0.35);
  margin-right: 1rem;
}

.story-profile__img {
  width: 2.5rem;
  height: 2.5rem;
  outline: #db783b solid 2px;
  outline-offset: 2px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(18, 44, 38, 0.35);
  margin-right: 1rem;
}

.user-info-box {
  display: flex;
  align-items: center;
}

.username-and-update {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.user {
  padding-right: 0.75rem;
}

.story {
  display: flex;
  align-items: center;
}

.switch-btn {
  font-weight: 500;
  color: #dbe4d9;
  height: 1rem;
  padding-top: 6px;
  transition: all 0.15s ease-in-out;
}

.switch-btn:hover {
  padding-right: 0.25rem;
}

.follow-btn {
  font-weight: 500;
  color: #117460;
  height: 1rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.follow-btn:hover {
  padding-right: 0.25rem;
}

.flex-spread {
  display: flex;
  justify-content: space-between;
}

section {
  height: auto;
  padding: 0rem 1rem;
  width: 100%;
}

.base-note {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  color: #5cddc3;
  font-size: 0.85rem;
}

.base-note span {
  padding-left: 1rem;
}

.base-note img {
  margin-left: 1rem;
  width: 1.25rem;
  aspect-ratio: 1/1;
  filter: invert();
}

/* 
-------------------------
<<<<< MEDIA-QUERIES >>>>> 
-------------------------
*/

@media (width <= 1439px) {
  header {
    padding: 0 4rem;
  }

  main {
    padding: 2rem 4rem 1rem;
  }
}

@media (width <= 951px) {
  .nav-links img:last-of-type {
    display: block;
  }

  main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.125rem;
    min-height: 100vh;
    padding: 0rem 4rem 1rem;
  }

  .pinboard {
    width: 100%;
  }

  aside {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 6rem;
  }

  .right-column {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.25rem;
    margin-bottom: 1rem;
    gap: 1rem;
  }

  .flex-spread.wrapper {
    display: none;
  }

  .story-section,
  .suggestion-section {
    width: 100%;
    overflow: hidden;
  }

  @keyframes unfold {
    to {
      max-height: 21.125rem;
    }
  }

  .unfolded {
    max-height: 21.125rem;
  }

  @keyframes defaultHeight {
    to {
      max-height: 2.65rem;
    }
  }

  .default-height {
    max-height: 2.65rem;
  }
}

@media (width <= 767px) {
}

@media (width <= 597px) {
  header {
    padding: 0 2rem;
  }

  main {
    padding: 2rem 2rem 1rem;
  }

  aside {
    display: flex;
    flex-direction: column;
  }

  .right-column {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin-bottom: 1.25rem;
  }

  .story-section,
  .suggestion-section {
    margin-bottom: 0.45rem;
  }
}

@media (width <= 499px) {
  html {
    font-size: 14px;
  }

  header {
    padding: 0 1.25rem;
  }

  .nav-links img {
    width: 32px;
  }

  header input {
    display: none;
  }

  main {
    padding: 1rem 1rem 1rem;
  }

  .right-column {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin-bottom: 0.225rem;
  }
}

@media (width <= 424px) {
  .nav-links {
    display: none;
  }

  .menu-btn {
    display: flex;
  }

  .base-note {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: #5cddc3;
    font-size: 0.85rem;
  }

  .base-note span {
    padding-left: 1rem;
  }

  .base-note img {
    margin-left: 1rem;
    width: 1.25rem;
    aspect-ratio: 1/1;
    filter: invert();
  }
}

@media (width <= 393px) {
  .base-note {
    flex-direction: column;
  }

  .base-note span {
    padding-left: 0rem;
  }
}
